.section{
	position: relative;
	width: 100%;
	height: 100vh;
	z-index: 1;
	display: inline-block;

	.bg_layer{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-attachment: fixed;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		        background-size: cover;
		background-position: center, center;
		z-index: -1;
		-webkit-transform: translateZ(0);
		        transform: translateZ(0);
	}

	.containerContent{
		margin: 2em auto;
	    text-align: center;
	    padding: 0 7px;
	    font-size: 1.2em;
	    -webkit-transition: 0.5s linear opacity;
	    -o-transition: 0.5s linear opacity;
	    transition: 0.5s linear opacity;
	    width: 768px;

	    &.white{
	    	color: white;
	    }

	    &.black{
	    	color: black;
	    }

	    &.hide{
	    	opacity: 0;
	    }

	    &.show{
	    	opacity: 1;
	    }
	}

	.header{
		position: relative;
		display: inline-block;

		&:after{
			content: '';
			position: absolute;
			left: 10%;
			bottom: 0;
			background-color: #ff5722;
			height: 2px;
			width: 80%;
		}
	}

	.shortDescription{
		margin-right: 10px;
	}

	.description{
		line-height: 1.2;
	}
}