@font-face {
    font-family: "Sans Pro";
    src: url("../fonts/Sans-Pro.woff2") format("woff2");
}

@font-face {
    font-family: "Source-Pro";
    src: url("../fonts/Source-Sans-Pro.woff2") format("woff2");
}